/* /Pages/Index.razor.rz.scp.css */
header[b-rpklbg6bgq] {
    background-color: #626060;
    text-align: center;
    color: white;
}

.points-panel[b-rpklbg6bgq] {
    background: #e6e6e6;
    padding: 5px;
}

    .points-panel > div[b-rpklbg6bgq] {
        margin-top: 20px;
        border-bottom: 1px dashed black;
        padding: 15px 0;
    }

    .points-panel select[b-rpklbg6bgq] {
        width: 100%;
        height: 2em;
    }

    .points-panel h3[b-rpklbg6bgq] {
        text-align: center;
    }

    .points-panel input[type="range"][b-rpklbg6bgq] {
        width: 100%;
    }

    .points-panel .new-line > *[b-rpklbg6bgq] {
        display: block;
    }

    .points-panel label[b-rpklbg6bgq] {
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none;
    }

.point-count-select > *[b-rpklbg6bgq] {
    display: block;
}

button[b-rpklbg6bgq] {
    margin: 10px 0;
    width: 100%;
    background-color: #0075ff;
    color: white;
    border: 0;
    height: 2em;
}

    button:hover[b-rpklbg6bgq] {
        background-color: #2672cd;
    }

    button:active[b-rpklbg6bgq] {
        background-color: #017fb4;
    }
/* /Shared/KMeansClustering.razor.rz.scp.css */
.chart-area[b-lymw5o4dsj] {
    position: relative;
    width: 100%;
    height: 100%;
}

.toolbox[b-lymw5o4dsj] {
    position: absolute;
    top: 5px;
    left: 5px;
    display: flex;
    z-index: 1;
    opacity: 0.5;
    transition: opacity ease-out .25s;
}

    .toolbox button[b-lymw5o4dsj] {
        border: 0;
        background-color: #0075ff;
        color: #fff;
        margin: 0 4px;
    }

.toolbox:hover[b-lymw5o4dsj] {
    opacity: 1;
}

.status-box[b-lymw5o4dsj] {
    position: absolute;
    bottom: 5px;
    left: 5px;
    z-index: 1;
}

.points-container[b-lymw5o4dsj] {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    position: relative;
    overflow: hidden;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.point[b-lymw5o4dsj] {
    position: absolute;
    width: 8px;
    height: 8px;
    background: red;
    border-radius: 4px;
    transform: scale(0);
    animation: pointAppear-b-lymw5o4dsj 1s linear forwards;
    transition: left 2s, top 2s;
}

.point.cluster-center[b-lymw5o4dsj] {
    width: 16px;
    height: 16px;
    border-radius: 0;
}

@keyframes pointAppear-b-lymw5o4dsj {
    0% {
        transform: scale(0);
    }
    25% {
        transform: scale(2)
    }
    100% {
        transform: scale(1)
    }
}
/* /Shared/MainLayout.razor.rz.scp.css */
/* /Shared/SingleLinkageClustering.razor.rz.scp.css */
.box[b-256w5l5fhj] {
    position: relative;
    width: 100%;
    height: 100%;
    border-left: 1px solid black;
}

.line[b-256w5l5fhj] {
    position: absolute;
    background-color: #000000;
    transition: left 1s, bottom 1s;
}

.line.horizontal[b-256w5l5fhj] {
    height: 1px;
}

.line.vertical[b-256w5l5fhj] {
    width: 1px;
}

.point[b-256w5l5fhj] {
    position: absolute;
    background-color: #000000;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    transform: translate(-4px, 0)
}

.number[b-256w5l5fhj] {
    position: absolute;
    left: 0;
    transform: translate(0, 1em);
    border-top: 1px solid black;
}
