<div class="toolbox">
    <button>Next step</button>
</div>
<div class="points-container">
    @for (int i = 0; i < this.points.Length; i++)
    {
        <div class="point" style="@this.points[i].GetPointStyle()"></div>
    }
    @for (int i = 0; i < this.clusterCenters.Length; i++)
    {
        <div class="point cluster-center" style="@this.clusterCenters[i].GetPointStyle()"></div>
    }
</div>
