<div class="chart-area">
    <div class="toolbox">
        <div>
            <label>Clusters count: @clustersCount</label>
            <input type="range" min="1" max="10" step="1" value="@clustersCount" @onchange="OnClustersCountChanged" />
        </div>
        <button @onclick="this.RandomizeCentroids">Randomize centroids</button>
        <button @onclick="this.NextStep">Next step</button>
    </div>
    @if (clusterer != null)
    {
        <div class="status-box">
            Iteration #@clusterer.ClusterizationIteration
        </div>
        <div class="points-container">
            @foreach (var p in clusterer.Points)
            {
                <div class="point" style="@GetPointStyle(p)"></div>
            }
            @foreach (var c in clusterer.Centroids)
            {
                <div class="point cluster-center" style="@GetPointStyle(c)"></div>
            }
        </div>
    }
</div>
