<div class="chart-area">
    <div class="toolbox">
        <div>
            <label>Clusters count: @clustersCount</label>
            <input type="range" min="1" max="10" step="1" value="@clustersCount" @onchange="OnClustersCountChanged" />
        </div>
        <button @onclick="this.RandomizeCentroids">Randomize centroids</button>
        <button @onclick="this.NextStep">Next step</button>
    </div>
    <div class="status-box">
        Iteration #@clusterizationIteration
    </div>
    <div class="points-container">
        @for (int i = 0; i < this.points.Length; i++)
        {
            <div class="point" style="@GetPointStyle(this.points[i])"></div>
        }
        @for (int i = 0; i < this.clusterCenters.Length; i++)
        {
            <div class="point cluster-center" style="@GetPointStyle(this.clusterCenters[i])"></div>
        }
    </div>
</div>
