<div style="padding: 5px; width: 100%">
    <div class="box">

        @if (this.topCluster != null)
        {
            @foreach (var line in GetDendrogramLines())
            {
                <div class="@line.GetClass()" style="@line.GetStyle()"></div>
            }
        }
        else
        {
            <span>Hell no, null</span>
        }
    </div>
</div>
