@page "/"

<div style="display: flex; flex-flow: column; height: 100%">
    <div>
        Hello, header
    </div>
    <div style="flex-grow: 1">
        <ClusteringChart PointsCount="100"></ClusteringChart>
    </div>
</div>
